<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>.s</title>
    <link rel="icon" href="https://static.planetminecraft.com/files/avatar/97925.png">

    <script src="https://kit.fontawesome.com/c86366431f.js" crossorigin="anonymous"></script>
    <script src="script.js"></script>
    <link rel="stylesheet" href="style_home.css">

</head>
<body>
<div class="page-wrapper">
    <header class="page-header">
        <div class="left-side-header">
            <div class="menu"><i class="fa-solid fa-bars fa-lg"></i></div>
            <div class="logo"><a href=""><i class="fa-solid fa-skull fa-xl"></i></a></div>
        </div>
        <div class="right-side-header">
            <div class="search"><input type="search" class="input-search" placeholder="...">
                <a href="#" class="searchIcon"><i class="fa-solid fa-magnifying-glass fa-lg"></i></a>
            </div>
            <div class="shopping-bag"><a href="#"><i class="fa-solid fa-bag-shopping fa-lg"></i></a></div>
            <div class="profile"><a href="signup.html"><i class="fa-solid fa-user fa-lg"></i></a></div>
        </div>
    </header>
    <div class="thr-photos">
        <ul class="slick-squares">
            <li><i id="hrt1" class="fa-regular fa-heart fa-lg"></i></li>
            <li><i id="hrt2" class="fa-regular fa-heart fa-lg"></i></li>
            <li><i id="hrt3" class="fa-regular fa-heart fa-lg"></i></li>
            <li><i id="hrt4" class="fa-regular fa-heart fa-lg"></i></li>
        </ul>
    </div>
</div>
</body>
</html>