* {
    margin: 0;
    padding: 0;
    font-family: 'Ubuntu', sans-serif;
    font-size: 15px;
    color: #5f5f5f;
}

.container {

    text-align: center;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

}

input {
    font-weight: 1000;
    padding: 0 25px 0 30px;
    background-color: #f0f0f0;
    outline-color: #333333;
    transition: 0.4s;
}

input:focus {
    transition: 0.5s;
    background-color: #ffffff;
}

button:hover {

    border: 1px solid #333333;
    color: #333333;
    box-shadow: 5px 5px #333333,
                -5px -5px #727272;
    transition: 0.2s;
}

input,
button {
    border: none;
    width: 300px;
    height: 60px;
    margin-bottom: 20px;
    transition: 0.4s;
}

button {
    background-color: #fff;
    transition: 0.2s;
    margin-top: 25px;
}

a{
    color: #333333;
    text-decoration: none;
}

.logo h1 {
    border-radius: 25px;
    padding: 20px 40px 20px 40px;
    transition: 0.5s;
    margin-bottom: 40px;
    font-size: 80px;
}

.logo h1:hover {
    box-shadow: #cbcbcb 0 15px 15px;
    transition: 0.5s;
    margin-bottom: 40px;
    font-size: 80px;
    color: black;
}

ul{
    padding-left: 30px;
    text-align: left;
    list-style: none;
}

ul li{
    color: #333333;
}

.fa-xmark,  .fa-check{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 15px;
}